{% extends 'default.html' %}
{% block title %} About {% endblock %}

{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos</title>
</head>
<body>
    <h1>A propos</h1>

    AGENCE.COM est une agence de communication marketing reconnue pour son expertise en stratégie, 
    en activation de marque et en relations publiques.

    Nous croyons que pour rallier vos cibles à votre marque, 
    il faut passer par leurs intérêts, par les communautés qu’elles habitent et par les valeurs qui les font vibrer.

    
</body>
</html>

{% endblock%}