{% extends 'default.html' %}

{% block title %} Accueil  {% endblock %}
{% block content %}

<h1>Bienvenue sur notre page d'accueil</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>
    
    AGENCE_COM représente une grande variété d’artistes provenant de nombreuses disciplines artistiques. 
    Qu’ils soient comédiens, animateurs, auteurs, scénaristes, metteurs en scène, réalisateurs, chanteurs ou acteurs-doubleurs, 
    l’Agence Jocelyn Robitaille est fière de participer au développement de ses artistes. 

    Au fil des années, notre agence artistique s’est bâtie une solide réputation basée sur une grande rigueur professionnelle. 
    Qu’un artiste soit débutant ou chevronné, notre équipe met tout en place pour que celui-ci atteigne ses objectifs professionnels. 
    Pour en apprendre davantage sur l’Agence Jocelyn Robitaille et les artistes exceptionnels que nous représentons, nous vous invitons à parcourir notre site. 
    Vous trouverez les différentes catégories au haut de cette page.

</body>
</html>

{% endblock %}
